@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html, body {
    height: 100%;
    width: 100%; 
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.cw-bg-primary{
    background-color:#31499F ;
}

.cw-bg-secondary{
    background-color:#263D8D ;
}

.cw-bg-lightblue{
    background-color:#3E9CFC ;
}
.cw-bg-green{
    background-color:#14CF74 ;
}

.cw-text-primary{
    color: #263D8D;
}
.cw-text-lightblue{
    color: #3E9CFC ;
}
.cw-text-green{
    color: #14CF74 ;
}

#whitebgsec2{
    border-top: 5px solid #14CF74;
    background-image: url('./assets/images/whitebgsec2.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
#blackbgsec2{
    border-top: 5px solid #3E9CFC;
    background-image: url('./assets/images/blackbgsec2.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}